body {
    background-color: #000000;
}
h1 {
    color: #FFFFFF;
}
label {
    color: #C0C0C0;
}
.form-control {
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
}
div {
    color: #C0C0C0;
}
.main {
    color: #fff;
}
.aidungeon {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display:block;
    margin:auto;
}
.note {
    color: #fff
}
hr {
    color : #fff
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

