{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <img src="/static/img/main.jpg" class="aidungeon center" alt="картинку украл кот - /ᐠ｡‸｡ᐟ\">
    <h4 class="main">Это современная текстовая игра, созданная при помощи искусственного
        интеллекта.</h4>
    <p class="main">Игроки могут погрузиться в увлекательный мир фэнтези
        или научной фантастики и создавать свои собственные истории.</p>
    <p class="main"><strong>AI Dungeon</strong> использует <strong>глубокое обучение</strong>, чтобы создавать
        увлекательные истории, которые постоянно развиваются и
        прогрессируют в направлении, выбранном игроком.</p>
    <p class="main">В этой игре у вас
        полный контроль над тем, куда вас приведет приключение: решайте
        головоломки, сражайтесь с чудовищами, исследуйте новые миры и
        общайтесь с другими персонажами. AI Dungeon не имеет ограничений и
        позволяет игрокам воплощать свои фантазии в жизнь, создавая
        неповторимые и увлекательные истории.</p>
</div>
{% endblock %}
