{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Настройки</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="theme">Тема сайта:</label>
            <select class="form-control" id="theme" name="theme">
                <option value="dark">Тёмная</option>
                <option value="light">Светлая</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>
{% endblock %}